<div class="main_chat_top">
  <div class="room_title">
    ななちゃんの部屋
  </div>
  <div class="chat_end">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_chat_middle">
  <%= render partial: 'message', collection: @messages %>
</div>

  <%= form_with model: [@room, @message], class: 'main_chat_bottom', local: true do |f| %>
    <div class="chatbox-input">
      <%= f.text_field :content, class: 'chatbox', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'SEND' %>
  <% end %>
</div>